// Imports
@import (reference) "bootstrap/bootstrap.less";

// Colors
@blue-ijs: rgb(56, 106, 141);
@red-ijs: rgb(155, 57, 87);
@grey-ijs: rgb(115, 115, 115);

// Border-thickness
@border-light: 3px;
@border-thick: 5px;
@border-size-nav: 2px;

// Mixins
.bordered-bottom (@size, @color: @blue-ijs) {
	border-bottom: @size solid lighten(@color, 10%);
}

.bordered-top (@size, @color: @blue-ijs) {
	border-top: @size solid lighten(@color, 10%);
}

.no-padding-left {
	padding-left: 0;
}

.no-padding-right {
	padding-right: 0;
}

// CSS
html, body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: darken(@grey-ijs, 7%);
}

html {
	position: relative;
    min-height: 100%;
}

@footer-height: 60px;
body {
	margin: 0 0 @footer-height;
	background-color: lighten(@grey-ijs, 46%);
}

h1, h2, h3, h4 {
	color: darken(@grey-ijs, 15%);

	small {
		float: right;
		display: block;
		margin-top: 7px;
	}
}


// Header
@ijs-logo-width: 170px;
@ijs-logo-height: @ijs-logo-width * 320 / 1977;

header {
	background-color: @grey-ijs;
	color: white;
	.bordered-bottom(@border-thick);
}

#header-links {
	margin: (@ijs-logo-height / 2) - 1em 0;

	ul {
		list-style-type: none;
		float: right;
		display: inline-table;
		letter-spacing: 2px;
		font-size: 15px;

		li a {
			color: white;
			text-decoration: none;

			&:hover, &:active, &:focus {
				color: lighten(@blue-ijs, 20%);
			} 
		}
	}
}

#header-logo {
	float: left;

	a img {
		margin-top: (@ijs-logo-height / 4);
		width: @ijs-logo-width;
		height: auto;
		.opacity(0.9);
	}
	a:hover img {
		.opacity(1);
	}
}


// Navigation
.navbar {
	margin-bottom: 0;
}

#navbar-logo {
	padding: 0;
	img {
		width: 110px;
	}
}

.navbar-toggle {
	margin-left: 15px;
	font-size: 16px;
	color: @blue-ijs;
	font-weight: 500;
}

.navbar-brand>img {
	margin-top: -5px;
}

@nav-link-padding: 25px;
@nav-text-color: lighten(@grey-ijs, 5%);
@nav-text-color-hover: darken(@grey-ijs, 12%);
@nav-active-bg: lighten(@grey-ijs, 50%);
.navbar-nav {
	li {
		a {
			padding-right: @nav-link-padding;
			padding-left: @nav-link-padding;
			letter-spacing: 3px;
			font-size: 16px;
			color: @nav-text-color !important;
			.bordered-bottom(@border-size-nav, white)
		}
		a:hover {
			.bordered-bottom(@border-size-nav);
			color: @nav-text-color-hover !important;
		}

		&.active {
			a { 
				background-color: @nav-active-bg !important;
				.bordered-bottom(@border-size-nav, @red-ijs);
				color: @nav-text-color-hover !important;
			}
			a:hover {
				&:extend(.navbar-nav li a:hover);
			}
		}
	}
}
@media (min-width: 768px) {
  .navbar-nav {
  	margin-left: 30px;
  }
}
/* for when the navbar stays fixed on top */
.menu-padding {
	padding-top: 50px;
}
.anchor {
    display: block;
    position: relative;
    top: -57px;
    visibility: hidden;
}

// Main - Welcome
main {
	min-height: 100%;
	background-color: lighten(@grey-ijs, 46%);
	a {
		color: lighten(@red-ijs, 10%);
		&:hover, &:focus, &:active {
			text-decoration: none;
			color: lighten(@blue-ijs, 20%);
		}
	}

	hr {
		border: 1px dotted lighten(@blue-ijs, 40%);
		margin: 10px 0;
	}
}

@margin-top-content: 40px;
@padding-content: 15px;

#welcome {
	.make-row();
	margin-top: @margin-top-content;
	padding: @padding-content 0;
	background-color: white;
}

#spotlight {
	.make-md-column(8);
}

@carousel-indicators-space: 50px;

.carousel-inner {
	margin-bottom: @carousel-indicators-space;
}

.carousel-indicators {
	bottom: -@carousel-indicators-space;
	color: black;

	li {
		background-color: @grey-ijs;
	}

	.active {
		background-color: @blue-ijs;
	}
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

#about {
	.make-md-column(4);
}


// Main - Research, news and events
#our-activities {
	.make-row;
	margin-bottom: 45px;

	h2 {
		background-color: white;
		display: block;
		padding: 8px;
		.bordered-bottom(@border-light);
		font-size: 18px;
		letter-spacing: 1px;
	}
}
// #research {
// 	.make-md-column(3);
// 	//.no-padding-left;
// 	//.no-padding-right;

// 	h3 {
// 		&:extend(.event h3);
// 		margin-left: 10px;
// 		font-size: 17px;
// 	}

// 	ul {
// 		padding-bottom: 0;
// 		margin-bottom: 10px;
// 	}
// }

#news {
	.make-md-column(7);
}

#contact {
	.make-md-column(5);
	font-size: 13px;

	#address {
		.make-sm-column(5);
	}

	#phone {
		.make-sm-column(7);
	}
}

.event {
	.make-md-column(12);
	margin-bottom: 15px;

	h3 {
		margin: 0;
		margin-bottom: 2px;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 1px;
		display: inline;
	}

	.title {
		.make-row;
	}

	.header {
		.make-md-column(10);
		.make-md-column-pull(2);
	}

	.date {
		.make-md-column(2);
		.make-md-column-push(10);
		.no-padding-left;
		.no-padding-right;
		color: @grey-ijs;
		font-size: 15px;
		font-weight: 500;
		font-variant: small-caps;
		text-align: right;
	}

	.description img {
		float: right;
		margin-top: 8px;
		margin-bottom: 5px;
		margin-left: 10px;
	}

	.toggle {
		display: inline;
		margin-right: 3px;
	}

	p {
		clear: both;
	}
}


// Footer
footer {
	background-color: darken(@grey-ijs, 30%);
	color: white;
	padding: 20px 0;
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; 
}


@margin-top-header: 20px;
// Sidebar & content
.wrapper {
	.make-row;
	margin-top: @margin-top-content;
}

.sidebar {
	.make-md-column(3);
	margin-bottom: 30px;

	h1 {
		background-color: lighten(@blue-ijs, 10%);
		color: white;
		margin: 0;
		padding: 0;
		padding: 10px;
		font-weight: 500;
		font-size: 18px;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		a {
			display: block;
			background-color: white;
			padding: 10px;
			color: @nav-text-color;
			font-size: 15px;
			letter-spacing: 1px;
			
			&:hover, &:active, &:focus {
				text-decoration: none;
				border-right: 3px solid lighten(@blue-ijs, 10%);
				color: @nav-text-color-hover;
			}
		}
		
		&.active {
			a {
				background-color: @nav-active-bg;
				border-right: 3px solid lighten(@red-ijs, 10%);
				color: @nav-text-color-hover;
				
				&:hover {
					&:extend(.sidebar li a:hover);
				}
			}

		}
	}

	li:before {
		content: none;
		display: none;
	}
}

.content {
	.make-md-column(9);
	background-color: white;
	padding-bottom: 25px;
	margin-bottom: 30px;
	.bordered-top(@border-thick);

	h1 {
		margin-top: @margin-top-header;
		font-size: 26px;
		border-bottom: 1px dotted lighten(@blue-ijs, 40%);
		padding-bottom: 5px;

		small {
			font-size: 16px;
		}
	}
	h2 {
		font-size: 20px;
		color: lighten(@blue-ijs, 10%);
		margin-bottom: 3px;
		margin-left: 10px;
	}

	ul {
		list-style-type: none; //list-style: circle outside url('images/list-bullet.png');
		padding-bottom: 15px;

		li {
			display: block;
			padding: 2.5px;
		}

		li:before {
		    /*Using a Bootstrap glyphicon as the bullet point*/
		    content: "\2b";
		    font-family: 'Glyphicons Halflings';
		    font-size: 9px;
		    float: left;
		    margin-top: 4px;
		    margin-left: -17px;
		    color: lighten(@grey-ijs, 25%);
		}
	}
}

// Glyphicon size classes
.gi-smaller {font-size: 0.8em;}
.gi-2x {font-size: 2em;}
.gi-3x {font-size: 3em;}
.gi-4x {font-size: 4em;}
.gi-5x {font-size: 5em;}


// Publications
.publication {
	display: none;
	margin-left: 10px;
	padding-left: 13px;
	margin-top: 3px;
	border-left: 1px dotted lighten(@grey-ijs, 25%);

	h3 {
		&:extend(.event h3);
	}
}

.publications {
	.permalink {
		float: right;
		a {
			color: lighten(@grey-ijs, 20%);
			text-decoration: none;
		}
	}
}

.publication-id {
	margin-top: 18px;
	margin-left: 10px;

	h3 {
		&:extend(.event h3);
	}
}


// Staff
.person-name {
	margin-left: 55px;
}

.person {
	.make-row;
	margin-top: 15px;


	img {
		max-width: 100px;
	}
	.image {
		.make-xs-column(4);
		margin-bottom: 10px;
	}
	
	.description {
		.make-xs-column(8);
	}
}


// Activities
.activity {
	.heading {
		display: block;
		margin-bottom: 8px;
	}

	h2 {
		display: inline;
	}

	h3 {
		&:extend(.event h3);
	}

	.toggle {
		display: inline;
	}
}


// News
.news-article {
	margin-top: 5px;
	&:extend(.event);

	h2 {
		&:extend(.event h3);
		&:extend(.content h2);
		margin-left: 0;
		font-size: 18px;
	}

	.title {
		&:extend(.event .title);
		margin-top: 5px;
		margin-bottom: 5px;	
	}
	.header {
		&:extend(.event .header);
	}
	.date {
		&:extend(.event .date);
	}
	.description img{
		&:extend(.event .description img);
		margin-top: 3px;
	}
	
}