@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (max-width: 991px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (max-width: 991px) {
}
@media (max-width: 991px) {
}
#welcome:before,
#welcome:after,
#our-activities:before,
#our-activities:after,
.event .title:before,
.event .title:after,
.wrapper:before,
.wrapper:after,
.person:before,
.person:after,
.news-article .title:before,
.news-article .title:after {
  content: " ";
  display: table;
}
#welcome:after,
#our-activities:after,
.event .title:after,
.wrapper:after,
.person:after,
.news-article .title:after {
  clear: both;
}
.no-padding-left {
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}
html,
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #616161;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 60px;
  background-color: #e8e8e8;
}
h1,
h2,
h3,
h4 {
  color: #4d4d4d;
}
h1 small,
h2 small,
h3 small,
h4 small {
  float: right;
  display: block;
  margin-top: 7px;
}
header {
  background-color: #737373;
  color: white;
  border-bottom: 5px solid #4685b2;
}
#header-links {
  margin: 12.75821952px 0;
}
#header-links ul {
  list-style-type: none;
  float: right;
  display: inline-table;
  letter-spacing: 2px;
  font-size: 15px;
}
#header-links ul li a {
  color: white;
  text-decoration: none;
}
#header-links ul li a:hover,
#header-links ul li a:active,
#header-links ul li a:focus {
  color: #689ec3;
}
#header-logo {
  float: left;
}
#header-logo a img {
  margin-top: 6.87910976px;
  width: 170px;
  height: auto;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
#header-logo a:hover img {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar {
  margin-bottom: 0;
}
#navbar-logo {
  padding: 0;
}
#navbar-logo img {
  width: 110px;
}
.navbar-toggle {
  margin-left: 15px;
  font-size: 16px;
  color: #386a8d;
  font-weight: 500;
}
.navbar-brand > img {
  margin-top: -5px;
}
.navbar-nav li a {
  padding-right: 25px;
  padding-left: 25px;
  letter-spacing: 3px;
  font-size: 16px;
  color: #808080 !important;
  border-bottom: 2px solid #ffffff;
}
.navbar-nav li a:hover,
.navbar-nav li.active a:hover {
  border-bottom: 2px solid #4685b2;
  color: #545454 !important;
}
.navbar-nav li.active a {
  background-color: #f3f3f3 !important;
  border-bottom: 2px solid #bd4a6d;
  color: #545454 !important;
}
@media (min-width: 768px) {
  .navbar-nav {
    margin-left: 30px;
  }
}
/* for when the navbar stays fixed on top */
.menu-padding {
  padding-top: 50px;
}
.anchor {
  display: block;
  position: relative;
  top: -57px;
  visibility: hidden;
}
main {
  min-height: 100%;
  background-color: #e8e8e8;
}
main a {
  color: #bd4a6d;
}
main a:hover,
main a:focus,
main a:active {
  text-decoration: none;
  color: #689ec3;
}
main hr {
  border: 1px dotted #b1cde0;
  margin: 10px 0;
}
#welcome {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 40px;
  padding: 15px 0;
  background-color: white;
}
#spotlight {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #spotlight {
    float: left;
    width: 66.66666667%;
  }
}
.carousel-inner {
  margin-bottom: 50px;
}
.carousel-indicators {
  bottom: -50px;
  color: black;
}
.carousel-indicators li {
  background-color: #737373;
}
.carousel-indicators .active {
  background-color: #386a8d;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
#about {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #about {
    float: left;
    width: 33.33333333%;
  }
}
#our-activities {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 45px;
}
#our-activities h2 {
  background-color: white;
  display: block;
  padding: 8px;
  border-bottom: 3px solid #4685b2;
  font-size: 18px;
  letter-spacing: 1px;
}
#news {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #news {
    float: left;
    width: 58.33333333%;
  }
}
#contact {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
}
@media (min-width: 992px) {
  #contact {
    float: left;
    width: 41.66666667%;
  }
}
#contact #address {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  #contact #address {
    float: left;
    width: 41.66666667%;
  }
}
#contact #phone {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  #contact #phone {
    float: left;
    width: 58.33333333%;
  }
}
.event,
.news-article {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .event,
  .news-article {
    float: left;
    width: 100%;
  }
}
.event h3,
.publication h3,
.publication-id h3,
.activity h3,
.news-article h2 {
  margin: 0;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline;
}
.event .title,
.news-article .title {
  margin-left: -15px;
  margin-right: -15px;
}
.event .header,
.news-article .header {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .event .header,
  .news-article .header {
    float: left;
    width: 83.33333333%;
  }
}
@media (min-width: 992px) {
  .event .header,
  .news-article .header {
    right: 16.66666667%;
  }
}
.event .date,
.news-article .date {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 0;
  padding-right: 0;
  color: #737373;
  font-size: 15px;
  font-weight: 500;
  font-variant: small-caps;
  text-align: right;
}
@media (min-width: 992px) {
  .event .date,
  .news-article .date {
    float: left;
    width: 16.66666667%;
  }
}
@media (min-width: 992px) {
  .event .date,
  .news-article .date {
    left: 83.33333333%;
  }
}
.event .description img,
.news-article .description img {
  float: right;
  margin-top: 8px;
  margin-bottom: 5px;
  margin-left: 10px;
}
.event .toggle {
  display: inline;
  margin-right: 3px;
}
.event p {
  clear: both;
}
footer {
  background-color: #272727;
  color: white;
  padding: 20px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.wrapper {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 40px;
}
.sidebar {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .sidebar {
    float: left;
    width: 25%;
  }
}
.sidebar h1 {
  background-color: #4685b2;
  color: white;
  margin: 0;
  padding: 0;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
}
.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar li a {
  display: block;
  background-color: white;
  padding: 10px;
  color: #808080;
  font-size: 15px;
  letter-spacing: 1px;
}
.sidebar li a:hover,
.sidebar li a:active,
.sidebar li a:focus,
.sidebar li.active a:hover {
  text-decoration: none;
  border-right: 3px solid #4685b2;
  color: #545454;
}
.sidebar li.active a {
  background-color: #f3f3f3;
  border-right: 3px solid #bd4a6d;
  color: #545454;
}
.sidebar li:before {
  content: none;
  display: none;
}
.content {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-top: 5px solid #4685b2;
}
@media (min-width: 992px) {
  .content {
    float: left;
    width: 75%;
  }
}
.content h1 {
  margin-top: 20px;
  font-size: 26px;
  border-bottom: 1px dotted #b1cde0;
  padding-bottom: 5px;
}
.content h1 small {
  font-size: 16px;
}
.content h2,
.news-article h2 {
  font-size: 20px;
  color: #4685b2;
  margin-bottom: 3px;
  margin-left: 10px;
}
.content ul {
  list-style-type: none;
  padding-bottom: 15px;
}
.content ul li {
  display: block;
  padding: 2.5px;
}
.content ul li:before {
  /*Using a Bootstrap glyphicon as the bullet point*/
  content: "\2b";
  font-family: 'Glyphicons Halflings';
  font-size: 9px;
  float: left;
  margin-top: 4px;
  margin-left: -17px;
  color: #b3b3b3;
}
.gi-smaller {
  font-size: 0.8em;
}
.gi-2x {
  font-size: 2em;
}
.gi-3x {
  font-size: 3em;
}
.gi-4x {
  font-size: 4em;
}
.gi-5x {
  font-size: 5em;
}
.publication {
  display: none;
  margin-left: 10px;
  padding-left: 13px;
  margin-top: 3px;
  border-left: 1px dotted #b3b3b3;
}
.publications .permalink {
  float: right;
}
.publications .permalink a {
  color: #a6a6a6;
  text-decoration: none;
}
.publication-id {
  margin-top: 18px;
  margin-left: 10px;
}
.person-name {
  margin-left: 55px;
}
.person {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 15px;
}
.person img {
  max-width: 100px;
}
.person .image {
  position: relative;
  float: left;
  width: 33.33333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}
.person .description {
  position: relative;
  float: left;
  width: 66.66666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.activity .heading {
  display: block;
  margin-bottom: 8px;
}
.activity h2 {
  display: inline;
}
.activity .toggle {
  display: inline;
}
.news-article {
  margin-top: 5px;
}
.news-article h2 {
  margin-left: 0;
  font-size: 18px;
}
.news-article .title {
  margin-top: 5px;
  margin-bottom: 5px;
}
.news-article .description img {
  margin-top: 3px;
}
